{extend name="public/base" /}

{block name="content-header"}
<h5><i class="fa fa-fw fa-connectdevelop"></i> 插件列表</h5>
</block>

{block name="body"}
<div class="row">
    <div class="col-xs-12">
        <!-- 数据列表 -->
        <div class="table-responsive margin-top-5">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>名字</th>
                    <th>电话</th>
                    <th>状态</th>
                    <th>发生时间</th>
                    <th>内容</th>
                    <th>房号</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <?php foreach($rows as $row):?>
                <tr>
                    <td><?=$row['name']?></td>
                    <td><?=$row['tel']?></td>
                    <td><?=$row['status']?'处理':未处理?></td>
                    <td><?=date('Y-m-d H:i:s',$row['time']-0)?></td>
                    <td><?=$row['intro']?></td>
                    <td><?=$row['sn']?></td>
                    <td>
                        <a href="{:url('admin/property/edit',['id'=>$row[id]])}
"><i class="btn btn-primary">修改</i></a>
                            <a href="{:url('admin/property/out',['id'=>$row[id]])}
"><i class="btn btn-danger">删除</i></a>
                        <a href="{:url('admin/property/change',['id'=>$row[id]])}
"><i class="btn btn-success">修改状态</i></a>
                    </td>
                </tr>
                <?php endforeach;?>
                </tbody>
            </table>
        </div>
        <!-- 分页 -->
        <div class="page">
            {$rows->render()}
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
    $(function(){
        highlight_subnav('{:url("addons/index")}');
    })
</script>
{/block}
