{extend name="public/base" /}

{block name="content-header"}
<h5><i class="fa fa-fw fa-connectdevelop"></i> 插件列表</h5>
</block>
{block name="body"}

<div class="row">
    <div class="col-xs-12">
        <!-- 数据列表 -->
        <div class="table-responsive margin-top-5">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>标题</th>
                    <th>商家名称</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>图片</th>
                    <th>活动状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <?php foreach($rows as $row):?>
                <tr>
                    <td><?=$row['title']?></td>
                    <td><?=$row['name']?></td>
                    <td><?=$row['add_time']?></td>
                    <td><?=$row['end_time']?></td>
                    <td><img src="<?=$row['img']?>" width="50"></td>
                    <td><?=$row['status']?'活动进行中':'活动已结束'?></td>
                    <td>
                        <a href="{:url('home/active/look',['id'=>$row[id]])}
"><i class="btn btn-success">查看详情</i></a>
                    </td>
                </tr>
                <?php endforeach;?>
                </tbody>
            </table>
        </div>
        <!-- 分页 -->
        <div class="page">
            {$rows->render()}
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
    $(function(){
        highlight_subnav('{:url("addons/index")}');
    })
</script>
{/block}
